<template>
    <div>
        <div class="armature-header">
            <img class="armature-logo" src="styles/armature_logo.png" alt="Armature">
        </div>
        <div class="list">
            <h3 class="list-title">
                Personas
            </h3>
            <div repeat.for="persona of personas" class="list-item">
                <strong>
                    ${ persona.displayName }
                </strong>
                <div>
                    ${ persona.description || 'No Description' }
                </div>
            </div>
        </div>
    </div>
</template>
