body {
  margin: 0;
  color: #444;
}

.armature-header {
    background-color: #8BC34A;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.armature-header .armature-logo {
    width: 120px;
}

.list {
    border: 1px solid lightgray;
}

.list-title {
    padding: 0px 10px 0px 10px;
}

.list-item {
    padding: 10px;
    border-top: 1px solid lightgray;
}
